@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
body {
    font-family: Inter;
    background-color: #e9e9e9;
}

button {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(218, 218, 218);
    border: none;
    font-size: 15px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

h1 {
    background-color: #ffb8d1;
    width: fit-content;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
}

h2 {
    background-color: #ffb8d1;
    width: fit-content;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
}

h3 {
    width: fit-content;
}

h3::after {
    content: "";
    display: flex;
    width: 100%;
    height: 0.5rem;
    background-color: #ffb8d1;
    border-radius: 0.125rem;
    margin: 0.5rem 0;
}

.link {
    background-color: #ffb8d1;
    color: black;
    padding: 0.125rem;
    border-radius: 0.25rem;
}

.card {
    min-width: 300px;
    width: fit-content;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 1px 1px 1px 1px rgb(150, 150, 150, 0.1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}